.btn-success {
    background-color: $success;
    border: 1px solid $success;
}

.btn-success:hover {
    background-color: $success-light;
    border: 1px solid $success;
}

.btn-success:active {
    background-color: $success-ultra-light !important;
    border: 1px solid $success;
}

.btn-success:disabled {
    background-color: $success-pastel !important;
    border: 1px solid $success;
}



.btn-primary {
    background-color: $primary;
    border: 1px solid $primary;
}

.btn-primary:hover {
    background-color: $primary-light;
    border: 1px solid $primary;
}

.btn-primary:active {
    background-color: $primary-ultra-light !important;
    border: 1px solid $primary;
}

.btn-primary:disabled {
    background-color: $primary-pastel !important;
    border: 1px solid $primary;
}



.btn-warning {
    background-color: $warning;
    border: 1px solid $warning;
}

.btn-warning:hover {
    background-color: $warning-light;
    border: 1px solid $warning;
}

.btn-warning:active {
    background-color: $warning-ultra-light !important;
    border: 1px solid $warning;
}

.btn-warning:disabled {
    background-color: $warning-pastel !important;
    border: 1px solid $warning;
}



.btn-danger {
    background-color: $danger;
    border: 1px solid $danger;
}

.btn-danger:hover {
    background-color: $danger-light;
    border: 1px solid $danger;
}

.btn-danger:active {
    background-color: $danger-ultra-light !important;
    border: 1px solid $danger;
}

.btn-danger:disabled {
    background-color: $danger-pastel !important;
    border: 1px solid $danger;
}