.btn-success {
    background-color: $success;
    border: 1px solid $success;
}

.btn-success:hover {
    background-color: $success-light;
    border: 1px solid $success;
}

.btn-primary {
    background-color: $primary;
    border: 1px solid $primary;
}

.btn-primary:hover {
    background-color: $primary-light;
    border: 1px solid $primary;
}