body,
header,
main,
footer,
#root,
#container_all,
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

#container_all {
    min-width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    margin-bottom: 40px;
    padding-top: 20px;
    width: 100%;
    height: 100px;
    background-color: $success;
}

main {
    flex-grow: 1;
}

footer {
    padding-top: 20px;
    height: 60px;
    background-color: $success;
}

.div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-connect {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    background-color: $success-light;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid $success;
}

.div-form-input {
    display: flex;
    gap: 15px;
    width: 600px;
    justify-content: end;
    align-items: end;
}

.div-form-input-label {
    width: 200px;
    color: $success;
    text-align: end;
}

.div-form-input-input {
    color: $success;
    border: 1px solid $success;
}

.div-form-input-input:focus {
    border: 1px solid $success;
    box-shadow: 0 1px 1px $success inset, 0 0 8px $success;
    outline: 0 none;
}