body,
header,
main,
footer,
#root,
#container_all,
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

#container_all {
    min-width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    margin-bottom: 40px;
    padding-top: 20px;
    width: 100%;
    height: 100px;
    background-color: $success;
}

main {
    flex-grow: 1;
}

footer {
    padding-top: 20px;
    height: 60px;
    background-color: $success;
}

.div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-connect {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    background-color: $success-light;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid $success;
}

.div-form-input {
    display: flex;
    gap: 15px;
    width: 600px;
    justify-content: flex-end;
    align-items: center;
}

.div-form-input-label {
    width: 200px;
    color: white;
    text-align: end;
}

.div-form-input-input {
    color: $success;
    border: 1px solid $success;
}

.div-form-input-input:focus {
    color: $success;
    border: 1px solid $success;
    box-shadow: 0 1px 1px $success inset, 0 0 8px $success;
    outline: 0 none;
}

.div-column {
    width: 20vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.div-card {
    width: 20vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $success-light;
    padding: 15px;
    border-radius: 5px;
    min-height: 120px;
}

.div-btn-column {
    width: 20vw;
    display: flex;
    gap: 5px;
}

.p-card-question {
    color: white;
}

.btn-column {
    flex-grow: 1;
    font-size: small;
}

.btn-term {
    min-width: 120px;
}

.btn-card{
    margin-bottom: 15px;
}

.term-selected {
    //border: 2px solid black;
    background-color: $warning-light;
}