$warning: rgb(230, 141, 25);
$success: rgb(107, 8, 219);
$primary: rgb(14, 105, 243);
$danger: rgb(206, 54, 99);
$warning-pastel: rgb(250, 176, 80);
$success-pastel: rgb(135, 40, 245);
$primary-pastel: rgb(63, 139, 252);
$danger-pastel: rgb(238, 77, 126);
$warning-light: rgb(236, 197, 147);
$primary-light: rgb(109, 152, 216);
$success-light: hsl(268, 66%, 63%);
$danger-light: hsl(342, 56%, 68%);
$warning-ultra-light: rgb(250, 231, 205);
$primary-ultra-light: rgb(177, 201, 236);
$success-ultra-light: hsl(268, 62%, 77%);
$danger-ultra-light: hsl(342, 58%, 81%);


$success-light-transp: hsla(268, 66%, 63%, 0.3);